*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial, sans-serif';
    background-color: rgba(246, 255, 0, 0.932);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    transition: all .3s ease-in-out;
    color: rgb(0, 0, 0);
}
header:hover{
    background-color: aqua;
}
.banner{
    height: 350px;
    width: 100%;
    padding: 20px;
    
}
.yo{
    height: 75px;
}
div{
    font-size: 20px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(86, 86, 86);
    font-size: 18px;
    transition: all .3s ease-in-out;
}
nav ul li a:hover{
    color:rgb(0, 0, 0);
    scale: 1.2px;
}
.descripcion h1, .about-page{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}
.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.aboutme ul li{
    padding: 10px;
    font-size: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contact input, label{
    display: flex;
    flex-direction: column;
    width: 50vh;
    border-radius: 10px;
    border: 0;
    font-size: 20px;

}
.contact .comentario{
    height: 100px;
}
.btn-container{
    margin-top: 10px;
}
.btn{

    background-color: #ec9191;
    height: 30px;
    width: 300px;
    border-style: none;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.btn:hover{
    background-color: #326df5;
}
#section-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.container-productos{
    flex: 1 1 200px;

    background-color: rgb(224, 64, 64);
    text-align: center;
    border: 1px solid #555;
    padding: 20px;
    transition: all .3s ease;
    box-shadow: 0px 2px 5px;
}
.btn-comprar {
    color: rgb(255, 255, 255);
  }  
.productos img{
    max-width: 100%;
    height: auto;
    height: 190px;
    width: 1020px;
}
.productos button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    background-color: #000000;
    cursor: pointer;
    transition: all .3s ease;
    border-style: none;
}
.productos button:hover{
    background-color: #dc09f0;
}
